version: '3.7'
services:

  nginx:
    image: nginx:1.17-alpine
    container_name: magazin-nginx
    restart: unless-stopped
    ports:
      - 5500:80
    volumes:
      # Re-use local composer cache via host-volume
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      # Mount source-code for development
      - ./:/var/www/html
      # Mount config for development
      - ./docker/nginx:/etc/nginx/conf.d:cached
    links:
      - php-fpm
    depends_on:
      - php-fpm
      - db
      - elasticsearch
    networks:
      - magazin

  php-fpm:
    build: docker/php-fpm
    restart: unless-stopped
    container_name: magazin-php
    ports:
      - 9000:9000
    volumes:
      - ./:/var/www/html:cached
    links:
      - db
      - redis
      - elasticsearch
    depends_on:
      - db
      - elasticsearch
    networks:
      - magazin

  db:
    build: docker/psql
    ports:
      - 11:5432
    container_name: magazin-db
    restart: unless-stopped
    volumes:
      - ./storage/docker/psql:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=magazin
      - POSTGRES_USER=dev_shop
      - POSTGRES_PASSWORD=magazin
    networks:
      - magazin


  node:
    image: node:14.1.0-alpine3.11
    restart: unless-stopped
    volumes:
      - ./:/var/www/html/
    tty: true
    networks:
      - magazin

  redis:
    image: redis
    restart: unless-stopped
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - 6379:6379
    volumes:
      - ./:/var/www/html:cached
    networks:
      - magazin

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.6.1
    container_name: magazin_elasticsearch
    restart: unless-stopped
    environment:
      - node.name=mybazaar-es
      - cluster.name=mybazaar-es-docker-cluster
      - cluster.initial_master_nodes=mybazaar-es
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - magazin

networks:
  magazin:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.111.0/28
