@import "malika-variables";

@import "mixins";

@import "0-plugins/plugins-index";
@import url("/css/mybazar-fonts.css");
@import "base";

@import "2-layouts/mmenu";
@import "2-layouts/top-header";
@import "2-layouts/main-header";
@import "2-layouts/nav-header";
@import "2-layouts/delivery-body";

@import "2-layouts/news-letter";
@import "2-layouts/footer";

