@import "variables";

@import "mixins";

@import "0-plugins/plugins-index";
@import url("/public/css/mybazar-fonts.css");
@import "base";
@import "2-layouts/mmenu";
@import "2-layouts/top-header";
@import "2-layouts/main-header";
@import "2-layouts/nav-header";
@import "2-layouts/pagination";

@import "2-layouts/news-letter";
@import "2-layouts/footer";


#show-cart{
    min-height:300px;
    width:60%;
    margin:2% auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    h6{
        font-size:20px;
        font-weight: bold;
        margin:2% 0 0;
        color:$item_title_color;
    }
    .list-items{
        .selected-items{
            height:150px;
            width:100%;
            margin:2% 0;
            display: flex;
            justify-content:space-between;
            border-bottom:1px solid $comment_color;
            padding:15px 5px;
            .product-img{
                width:15%;
                height:100px;
                img{
                    width: auto;
                    height:100%;
                }
            }
            .description{
                width:80%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .add-product, .subtract-product{
                    padding:0px;
                    border-radius:10px;
                    width:30px;
                    height:30px;
                    font-size:15px;
                    line-height:30px;
                    text-align: center;
                    background:$item_price_color;
                    color:white;
                    font-weight:bold;
                }
                .delete-product{
                    padding:0;
                    margin:0;
                    transition: .4s;
                    &:hover {
                        background:$bg_like_heart;
                        transition: .4s;
                    }
                    i{
                        font-size: 7px;
                        background: $comment_color;
                        padding: 10px;
                        border-radius: 50%;
                    }
                }
                
            }
        }
    }
    .total-cart{
        width:100%;
        display:flex;
        justify-content:center;
        margin:1% 0 5%;
        font-size:16px;
        font-weight:bold;
        span{
            margin-left:15px;
        }
    }
    button.clear-cart{
        font-size:16px;
        color:white;
        background:$item_price_color;
        border:none;
        width:15%;
        font-weight:bold;
        margin:0 auto;
        padding:12px 23px;
        border-radius:23px;
        transition: .2s ease-in-out;
        &:hover{
            transition: .2s ease-in-out;
            box-shadow: 0px 2px 5px 1px rgba(0,66,255,1);
        }
        &:focus{
            background:#11da53;
            outline:none;
            box-shadow: 0px 2px 5px 1px $bg_discount;
        }
    }
}