.outter-blogs{
    width:80%;
    margin:0 auto;
    @include displayFlex(flex-start, row, flex-start);
    .item{
        height:310px;
        margin:2% 0;
        position:relative;
        &:hover{
            .description{
                background:none;
                transition:.3s ease-in-out;
            }
        }
        img{
            width:100%;
            height:100%;
        }
        .description{
            position:absolute;
            padding:0 0 20px 30px;
            @include displayFlex(flex-end, column, flex-start);
            background: rgba(1, 65, 252, 0.6);
            box-shadow: inset 20px 20px 33px 0px rgba(2, 44, 172, 0.6);
            transition:.3s ease-in-out;
            left:0;
            top:0;
            width:100%;
            height:100%;
            h5{
                color:white;
                text-align: start;
                font-size:22px;
            }
        }
    }
    .owl-dots{
        top:-30px;
        right:10px;
        margin:0;
    }
}
@media all and (max-width:400px){
    .outter-blogs{
        margin:5% auto;
    }
}
