.shops{
    width:100%;
    height:920px;
    background:$bg_grey_color;
    .outter-shops{
        width:100%;
        height:770px; 
        background:white;
        position:relative;
        .all-shops{
            width:80%;
            margin:0 auto;
            position:absolute;
            left:10%;
            top:-3%;
        }
    }
}
.shops-fr{
    @include displayFlex(flex-start, row, flex-start);
    .item{
        border:1px solid $item_border_color;
        background:white;
        .shop-name-logo{
            @include displayFlex(flex-start, row, center);
            padding:15px 0 0 15px;
            img{
                margin-right:15px;
                width:30px;
            }
            h6,p{
                margin:0;
            }
            p.sub-title{
                font-size:16px;
            }
        }
        .product-images{
            padding:15px;
            @include displayFlex(space-between, row, center);
            .big-img{
                width:75%;
            }
            .small-img{
                width:25%;
                @include displayFlex(space-between, column, flex-start);
                img{
                    margin:15% 0;
                }
            }
        }
    }
    button.owl-prev,
    button.owl-next{
        top:50%;
    }
}
.shops-2r{
    height:420px;
    margin-top:1%;
    @include displayFlex(flex-start, row, flex-start);
    button.owl-prev,
    button.owl-next{
        top:50%;
    }
    .first-item{
        width:33%;
        height:100%;
        border:1px solid $item_border_color;
        background:white;
        .shop-name-logo{
            @include displayFlex(flex-start, row, center);
            padding:15px 0 0 15px;
            img{
                margin-right:15px;
                width:30px;
            }
            h6,p{
                margin:0;
            }
            p.sub-title{
                font-size:16px;
            }
        }
        .single-img{
            padding:15px;
            width:100%;
            height:85%;
            a{
                width:inherit;
            }
            img{
                width:auto;
                height:100%;
                margin:0 auto;
                display: -webkit-box;
            }
        }
    }
    .shops-2r-inner{
        width:67%;
        height:100%;
        @include displayFlex(flex-start, row, center);
        .owl-stage-outer {            
            padding: 0;
        }
        h6{
            white-space:pre-wrap !important;
        }
        .palette-items{
            height:100%;
            padding:10px 20px 5px;
            @include border(1px, $item_border_color, 0);
            background:white;
            .product-img{
                height:45%;
                position:relative;
                display:flex;
                span.sale.small{
                    font-size:14px;
                    padding:2px 15px;
                    bottom:0;
                }
            }
            .description{
                @include displayFlex(flex-start, column, flex-start);
                position:relative;
                height:55%;
                margin-top:5%;
                overflow:hidden;
                p.sub-title{
                    font-size:16px;
                }
                .current-old-price h5.price{
                    font-size:21px;
                    line-height:23px;
                }
                .item-action-icons {
                    bottom:20px;
                    position:absolute;
                    div {
                        width:30px;
                        height:30px;
                        i{
                            font-size:14px;
                            line-height:30px;
                        }
                    }
                }
            }
        }
    } 
}
@media (min-width: 320px) {
    .shops-2r{
        display: none;
    }
    .shops{
        height:355px;
        .outter-shops{
            height:300px;
            .all-shops{
                top:-5%;
            }
        }
    }
}

    // .shops{
    //     height:1005px;
    //     .outter-shops{
    //         height :950px;
    //         .all-shops{
    //             top:-2%;
    //             .shops-2r{
    //                 height:450px;                     
    //                 flex-direction: column;
    //                 .first-item{
    //                     width:100%;
    //                 }
    //                 .shops-2r-inner{
    //                     width:100%;
    //                 }
    //             }
    //         }
    //     }
    // }

@media (min-width: 350px) {
    .shops{
        height:405px;
        .outter-shops{
            height:350px;
        }
    }
}
@media (min-width: 350px) {
    .shops{
        height:455px;
        .outter-shops{
            height:400px;
        }
    }
}
@media (min-width: 560px) {
    .shops{
        height:510px;
        .outter-shops{
            height:450px;
        }
    }
}
@media (min-width: 630px) {
    .shops{
        height:1235px;
        .outter-shops{
            height:1170px;
            .all-shops{
                top:-2%;
            }
        }
    }
    .shops-2r {
        height:350px;                     
        flex-direction: column;
        display:flex;
        .first-item{
            width:100%;
        }
        .shops-2r-inner{
            width:100%;
            .palette-items{
                .product-img{
                    height:50%;
                }
                .description{
                    height:49%;
                }
            }
        }
    }
}
@media (min-width: 650px) {
    .shops-2r{
        height:390px;
    }
    .shops{
        height:1300px;
        .outter-shops{
            height:1230px;
        }
    }
}
@media (min-width: 670px) {
    .shops-2r{
        height:390px;
    }
    .shops{
        height:1340px;
        .outter-shops{
            height:1275px;
        }
    }
}
@media (min-width: 700px) {
    .shops-2r{
        height:390px;
    }
    .shops{
        height:1390px;
        .outter-shops{
            height:1320px;
        }
    }
}
@media (min-width: 750px) {
    .shops{
        height:1430px;
        .outter-shops{
            height:1360px;
        }
    }
    .shops-2r{
        .shops-2r-inner{
            .palette-items{
                .product-img{
                    height:54%;
                }
                .description{
                    height:46%;
                }
            }
        }
    }
}
@media (min-width: 800px) {
    .shops{
        height:1205px;
        .outter-shops{
            height:1130px;
        }
    }
}
@media (min-width: 900px) {
    .shops{
        height:885px;
        .outter-shops{
            height:800px;
            .all-shops{
                top:-3%;
            }
        }
    }
    .shops-2r{
        flex-direction: row;
        .first-item{
            width:40%;
        }
        .shops-2r-inner{
            width:60%;
            .palette-items{
                width:100%;
            }
            .owl-item{
                img{
                    width:auto;
                    height:100%;
                    margin:0 auto;
                }
            }
            .rate{
                .comment{
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
    .shops-2r{
        .shops-2r-inner{
            .rate{
                .comment{
                    display: flex;
                }
            }
        }
    }
    .shops{
        height:955px;
        .outter-shops{
            height:875px;
        }
    }
}
@media (min-width: 1300px) {
    .shops .outter-shops .all-shops {
        top: -5%;
    }
}
@media (min-width: 1400px) {
    .shops{
        height:870px;
        .outter-shops{
            height:780px;
            .all-shops{
                top:-6%;
            }
        }
    }
    .shops-2r{
        .first-item{
            width:30%;
        }
        .shops-2r-inner{
            width:70%;
            .rate{
                .comment{
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 1600px) {
    .shops{
        height:925px;
        .outter-shops{
            height:830px;
        }
    }
}
@media (min-width: 1800px) {
    .shops {
        height:975px;
        .outter-shops {
            height:880px;
            .all-shops {
                top: -7%;
            }
        }
    }
}
@media (min-width: 1900px) {
    .shops {
        height:990px;
    }
}
@media (min-width: 2000px) {
    .shops{
        .outter-shops{
            height:900px;
        }
    }
    .shops-2r{
        .first-item{
            width:25%;
        }
        .shops-2r-inner{
            width:75%;
        }
    }
}
@media (min-width: 2100px) {
    .shops{
        height:1050px;
        .outter-shops{
            height:930px;
        }
    }
}
@media (min-width: 2300px) {
    .shops{
        height:1105px;
        .outter-shops{
            height:980px;
        }
    }
}
@media (min-width: 2500px) {
    .shops{
        height:1140px;
        .outter-shops{
            height:1005px;
        }
    }
}
@media (min-width: 2700px) {
    .shops{
        height:1250px;
        .outter-shops{
            height:1105px;
        }
    }
}
@media (min-width: 3000px) {
    .shops{
        height:1350px;
        .outter-shops{
            height:1190px;
        }
    }
}
@media (min-width: 3400px) {
    .shops{
        height:1400px;
        .outter-shops{
            height:1230px;
        }
    }
}
