#page{
    .content{
        padding:0 !important;
        text-align: start;
    }
    .header{
        display: none;
        position:sticky;
        top:0;
        z-index:9;
        font-size: 16px;
        box-sizing: border-box;
        width: 100%;
        height: 65px;
        background:white;
        padding:0 2%;
        box-shadow: 0px 2px 7px -5px black;

        .menu-logo{
            width:35%;
            display: flex;
            align-items:center;
            height:100%;
            a {
                i{
                    font-size:20px;
                    line-height: 32px;
                    border-radius:5px;
                    background:$item_price_color;
                    border-radius:5px;
                    margin-right:10px;
                    padding:5px 10px;
                }
            }
            img{
                width:127px;
                height:40px;
            }
        }
        .other-icons{
            width:55%;
            height:100%;
            @include displayFlex(flex-end, row, center);
            a{
                i{
                    font-size:30px;
                    margin-right:20px;
                    text-align: center;
                }
                button.search {
                    display: flex;
                    justify-content: center;
                    background-color: #0042ff;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right: 20px;
                    i{
                        position: relative;
                        font-size: 17px;
                        margin: 0;
                        span{
                            width: 18px;
                            height: 18px;
                            font-size: 10px;
                            color: #fff;
                            line-height: 18px;
                            position: absolute;
                            border-radius: 12px;
                            display: block;
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            font-family:'CERAPRO-BOLD';
                            background: #f42c48;
                            &.counter{
                                top:-23px;
                                right:-21px;
                                transition: .2s linear;
                                transform: scale(1);
                            }
                        }
                    }
                }

                &.cart{
                    i{
                        position: relative;
                        span{
                            width: 18px;
                            height: 18px;
                            font-size: 10px;
                            color: #fff;
                            line-height: 18px;
                            position: absolute;
                            border-radius: 12px;
                            display: block;
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            font-family:'CERAPRO-BOLD';
                            background: #f42c48;
                            &.counter{
                                top:-23px;
                                right:-21px;
                                transition: .2s linear;
                                transform: scale(1);
                            }
                        }
                    }
                }
                &.comparison{
                    i{
                        position: relative;
                        span{
                            width: 18px;
                            height: 18px;
                            font-size: 10px;
                            color: #fff;
                            line-height: 18px;
                            position: absolute;
                            border-radius: 12px;
                            display: block;
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            font-family:'CERAPRO-BOLD';
                            background: #f42c48;
                            &.counter{
                                top:-23px;
                                right:-21px;
                                transition: .2s linear;
                                transform: scale(1);
                            }
                        }
                    }
                }
                &.wish-list{
                    i{
                        position: relative;
                        span{
                            width: 18px;
                            height: 18px;
                            font-size: 10px;
                            color: #fff;
                            line-height: 18px;
                            position: absolute;
                            border-radius: 12px;
                            display: block;
                            transform: scale(0);
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            margin: auto;
                            font-family:'CERAPRO-BOLD';
                            background: #f42c48;
                            &.counter{
                                top:-23px;
                                right:-21px;
                                transition: .2s linear;
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
}
nav#menu{
    // height:100vh;
    // overflow-y: hidden;
    li.menu-tel-mail{
        a.email{
             &::before{
                 content:"\2022";
                 margin:10px;
                 color:$item_price_color;
             }
        }
        &:after{
            border:none;
        }
    }
    .mm-navbar{
        height:65px;
    }
    .mm-listitem a{
        font-size:18px;
        padding:19px 20px;
        color:$menu_dropdown_color !important;
        img{
            width: 20px;
            height: 20px;
            margin-right: 10px;
            display: inline-block;
            border: none;
        }
    }
    .mm-btn_close{
        width:50px;
        height:65px;
        position: absolute;
        top: 0;
        right: 5px;
        z-index: 2;
        background:transparent !important;
        &:before, &:after{
            border-color:white;
            background:transparent !important;
        }
    }

    .mm-btn_prev, .mm-navbar__title{
        background:$item_price_color;
    }
    .mm-btn_prev:before{
        border-color:white;
    }
    .mm-navbar__title span {
        color:white;
    }

}
// search icon and bar 414px

#header-2{
	overflow: hidden;
    .menu-logo{
        a{
            opacity:1;
            transition: transform 0.2s, opacity 0.2s 0.1s;
        }
        img{
            opacity:1;
            transition: transform 0.2s, opacity 0.2s 0.1s;
            transition-delay: 0.2s;
        }
    }
    .other-icons{
        a{
            opacity:1;
            transition: transform 0.2s, opacity 0.2s 0.1s;

            $time-offset: 0.3;
			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					$time-offset: $time-offset + 0.1;
					transition-delay: #{$time-offset}s;
				}
			}
        }
    }

	.search-box {
		position: absolute;
		left: 0;
		height: 100%;
        width: 0;
		padding-left:0;
		transform: translateX(20%);
		opacity: 0;
		transition: all 0.8s;

		.search-input {
			border: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
		}

		.search-toggle {
			width: 14px;
			height: 14px;
			padding: 0;
			transform: translateY(-50%);
		}
	}

	&.show {
        .menu-logo{
            a, img{
                transform: scale(0.8);
				opacity: 0;
            }
        }
        .other-icons{
            a{
                transform: scale(0.8);
				opacity: 0;
            }
        }

		.search-box {
			width: calc(100% - 5em);
			transform: translateX(0);
            opacity: 1;
            padding-left:2rem;
		}
	}
}
.search-button {
    width:3%;
	transform: translate(0,-50%);
}

.search-toggle {
	position: relative;
	display: block;
	height: 10px;
	width: 10px;

	&::before,
	&::after {
		content: '';
		position: absolute;
		display: block;
		transition: all 0.1s;
	}

	&::before {
		//border: 2px solid $title_color;
		border-radius: 50%;
		width: 100%;
		height: 100%;
	}

	&::after {
		height: 2px;
		width: 7px;
		//background: $title_color;
		top: 10px;
		left: 8px;
		transform: rotate(45deg);
	}

	&.active {

		&::before{
			width: 0;
			border-width: 1px;
			border-radius: 0;
			transform: rotate(45deg);
			top: -1px;
			left: 4px;
		}

		&::after {
			width: 12px;
			left: -1px;
			top: 4px;
		}
	}
}

.search-input {

	&:focus {
		outline: none;
	}
}

@media all and (max-width:920px){
    #page{
        .header{
            @include displayFlex(space-between, row, center);
        }
    }
}
@media all and (max-width:600px){
    #page{
        .header{
            padding:0 4% 0 2%;
        }
    }
}

@media all and (max-width:500px){
    nav#menu{
        li.menu-tel-mail{
            a.email{
                display: none !important;
            }
        }
    }
    #page{
        .header{
            .other-icons{
                a{
                    i{
                        font-size:18px;
                        margin-right:10px;
                    }
                }
            }
        }
    }
}
@media all and (max-width:400px){
    nav#menu{
        .mm-listitem a{
            font-size:15px;
            padding:9px 20px;
        }
        .mm-navbar{
            height:55px;
        }
        .mm-btn_close{
            height:55px;
        }
    }
    #page{
        .header{
            padding:0 6% 0 2%;
            height:55px;
            .menu-logo{
                a{
                    width:50px;
                    height:27px;
                    span{
                        margin:2px 0;
                    }
                }
                img{
                    width:95px;
                }
            }
            .other-icons{
                a{
                    button.search {
                        margin-right: 5px;
                    }
                    i{
                        font-size:18px;
                        margin-right:8px;
                    }
                }
            }
        }
    }
}
@media all and (max-width:300px){
    #page{
        .header{
            .other-icons{
                a{
                    button.search {
                        width: 28px;
                        height: 28px;
                        i {
                            font-size: 13px;
                        }
                    }
                    i{
                        font-size: 15px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
