.carousel-products {
    width:100%;
    height:700px;
    background:white;
    .rate{
        width:60%;
        margin:15px 0;
    }
    button.owl-prev,
    button.owl-next{
        top:50%;
    }
}
@media all and (max-width:1250px){
    .carousel-products{
        .rate{
            width:100%;
        }
    }
}


