nav.products-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:2% 0;
    ul{
        margin:0;
        li{
            width:50px;
            height:50px;
            margin:0 10px 0 0;
            @include border(1px, #a9b4c2, 50%);
            &.active{
                background:$title_color;
                a{
                    color:white;
                    background:transparent;
                }
            }
            a{
                color:$title_color;
                line-height:50px;
                font-size:20px;
                padding:0;
                font-weight:bold;
                border:none;
                background:transparent;
                text-align: center;
                i{
                    font-size:15px;
                    line-height: 50px;
                    &:before{
                        color:$title_color;
                    }
                }
            }
        }
    }
}
.page-link{
    background:transparent !important;
    border:none !important;
    font-size:20px;
    line-height:50px;
    font-weight:bold;
    padding:0;
    text-align: center;
}
