.current-old-price{
    display:flex;
    &.vertical {
        flex-flow:column;
        justify-content:flex-start;
        align-items:flex-start;
        padding: 5px 0;
    }
    &.horizontal{
        flex-flow:row;
        justify-content:space-between;
        width:100%;
        align-items:center;
        padding-top: 8px;
    }
    h5.price{
        font-size:24px;
        font-weight:600;
        color:$item_price_color;
        span{
            font-weight:300;
        }
    }
    h6.old-price{
        font-size:20px;
        font-weight:600;
        text-decoration:line-through;
        color:$comment_color;
        span{
            font-weight:300;
        }
    }
}
.item-action-icons{
    @include displayFlex(flex-start, row, center);
    width: min-content;
    //padding: 10px 0;
    // position:absolute;
    bottom:0;
    div{
        @include border(1px, $product_info_icons_color, 50%);
        width:40px;
        height:40px;
        text-align:center;
        background:white;
        margin-right:10px;
        cursor:pointer;
        i{
            font-size:20px;
            line-height:40px;
        }
        &.cart:hover,&.libra:hover, &.like:hover{
            box-shadow:0px 4px 10px -6px black ;
            transform: scale(1.03);
            transition: 0.3s ease-in-out;
        }
        // &.cart:hover, &.libra:hover{
        //     border:none;
        //     transition: .4s ease-in-out;
        //     box-shadow: 0px 2px 7px -5px black;
        //     background:$item_price_color;
        //     transform: scale(1.1);
        //     color:white;
        //     i:before{
        //         color:white;
        //         // transition: .3s ease-in;
        //     }
        // }
        // &.like:hover{
        //     border:none;
        //     box-shadow: 0px 2px 7px -5px black;
        //     background:$bg_like_heart;
        //     transition: .4s ease-in-out;
        //     transform: scale(1.1);
        //     i:before{
        //         color:white;
        //         // transition: .3s ease-in;
        //     }
        // }
    }
}
.selected_libra{
    color:white;
    border:none !important;
    background:$item_price_color !important;
    box-shadow: 0px 2px 7px -5px black !important;
    transition: .4s ease-in-out;
    i:before{
        color:white !important;
    }
}
.selected_cart{
    color:white;
    border:none !important;
    background:$item_price_color !important;
    box-shadow: 0px 2px 7px -5px black !important;
    transition: .4s ease-in-out;
    i:before{
        color:white !important;
    }
}
.selected_like{
    color:white;
    border:none !important;
    background:$bg_like_heart !important;
    box-shadow: 0px 2px 7px -5px black !important;
    transition: .4s ease-in-out;
    i:before{
        color:white !important;
    }
}
.rate{
    width:100%;
    @include displayFlex(space-between, row, center);
    .commet{
        width:18%;
        i{
            font-size:22px;
        }
        span{
            font-size:20px;
            color:$comment_color;
        }
    }
}
.rating {
    float:left;
    display:flex;
    flex-flow:row-reverse;
    border:none !important;
  }

  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
      //position:absolute;
      //top:-9999px;
      display: none;
      clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
      float:right;
      width:1em;
      /* padding:0 .1em; */
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:200%;
      /* line-height:1.2; */
      color:#ddd;
  }

  .rating:not(:checked) > label:before {
      content: '★ ';
  }

  .rating > input:checked ~ label {
      color: $stars_color;
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: $stars_color;
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color:$stars_color;
  }

  .rating > label:active {
      position:relative;
      top:2px;
      left:2px;
  }

  @media all and (max-width:1800px){
    .rating:not(:checked) > label {
        font-size:170%;
    }
}
  @media all and (max-width:1665px){
    .rating:not(:checked) > label {
        font-size:135%;
    }
    .comment{
        margin-left: 20px;
        font-size:14px;
    }
    .current-old-price{
        h5.price{
            font-size:18px;
        }
        h6.old-price{
            font-size:16px;
        }
    }
    .item-action-icons{
        div{
            width:30px;
            height:30px;
            i{
                font-size:14px;
                line-height:30px;
            }
        }
    }
  }
@media all and (max-width:1250px){
    .rate{
        @include displayFlex(space-between,row, center);
    }
    .rating:not(:checked) > label {
        font-size: 200%;
    }
    .comment{
        font-size:20px;
    }
    .item-action-icons div {
        width: 40px;
        height: 40px;
        i {
            font-size: 20px;
            line-height: 40px;
        }
    }
}
@media all and (max-width:1000px){
}
@media all and (max-width:800px){
    .rating:not(:checked) > label {
        font-size: 190%;
    }
    .item-action-icons div {
        width: 35px;
        height: 35px;
        i {
            font-size: 21px;
            line-height: 35px;
        }
    }
    .comment{
        font-size:18px;
    }
}
@media all and (max-width:600px){

}
