.similar-products{
    .outter-products{
        height:380px;
        .similar-p{
            height:380px;
            .item{
                height:340px;
                cursor: pointer;
                .product-img{
                    height:54%;
                    span.sale.small{
                        font-size:14px;
                    }
                }
                .description{
                    height:40%;
                    margin-top:7%;
                    p.sub-title{
                        display:none;
                    }
                    .current-old-price{
                        h5.price{
                            font-size:22px;
                        }
                    }

                    .rate{
                        .rating:not(:checked) > label{
                            font-size:160%;
                            width:1.3rem;
                        }
                    }
                }
                div.product-item{
                    height: 100%;
                }
                .item-action-icons{
                    bottom:36px;
                    div{
                        width:35px;
                        height:35px;
                        i{
                            font-size:18px;
                            line-height:35px;
                        }
                    }
                }
                &:hover {
                    transform: scale(1.05);
                    transition:0.4s ease;
                    .item-action-icons {
                        padding-bottom: 16px;
                    }
                }
            }
        }
    }
}
