.outter-single-product-with-des{
    text-align:start;
    width:100%;
    padding:2% 10%;
    h4.title{
        font-size:30px;
        color:black;
        @include fontBold;
    }
    .inner-single-product-with-des{
        @include displayFlex(space-between, row, flex-start);
        .images{
            width:34%;
            .big-image{
                width:100%;
                height:500px;
                margin-bottom:2%;
                img{
                    width:auto;
                    height:100%;                            
                }
            }
            .several-images{
                width:100%;
                height:100px;
                position:relative; 
                img{
                    &.demo {
                        opacity: 0.6;
                    }
                    &.active,
                    &.demo:hover {
                        opacity: 1;
                        @include border(1px, $item_price_color, 20px);
                        background:#dfe1e1;
                    }
                }
                .owl-nav{
                    position:absolute;
                    display:block;
                    width:100%;
                    top:15%;
                    button.owl-prev{
                        left:0;
                    }
                    button.owl-next{
                        right:-20px;
                    }
                }
            }
        }
        .description{
            text-align:start;
            width:64%;
            padding:2% 0;
            height:auto;
            @include displayFlex(space-between, row, flex-start);
            .text-description{
                width:49%;
                text-align:start;
                .rate{
                    width:80%;
                    .comment{
                        span{
                            color:$comment_color;
                        }
                    }
                }
                p{
                    color:$comment_color;
                    font-size:16px;
                    margin-bottom:10px;
                    &.title{
                        font-size:16.5px;
                        @include fontBold;
                    }
                    span{
                        color:black;
                    }
                }
                a{
                    font-size:14px;
                    color:$item_price_color;                    
                    
                }
            }
            .color-delivery-des{
                width:49%;
                p{
                    color:$comment_color;
                    font-size:16px;
                    margin-bottom:10px;
                    &.title{
                        font-size:16.5px;
                        @include fontBold;
                    }
                    span{
                        color:black;
                    }
                }
                .pr-des-radio-buttons,
                .pr-des-radio-buttons2,
                .pr-des-radio-buttons3{
                    width:100%;
                    margin:1% 0;
                    div{
                        margin-right:10px;
                        padding:15px 0;
                        width:18%;
                        display: inline-block;
                        color:black;
                        text-align:center;
                        background:white;
                        cursor:pointer;
                        @include border(2px, $comment_color, 25px );
                        transition:0.3s ease-in-out;
                        &.active{
                            transition:0.3s ease-in-out;
                            border-color:$item_price_color;
                        }
                    }
                }
                .colors{
                    @include displayFlex(flex-start, row, flex-start);
                    margin-bottom:3%;
                    .color{
                        margin-right:8px;
                        padding:6px;
                        width:50px;
                        height:50px;
                        @include border(2px,$comment_color, 50%);
                        transition:0.3s ease-in-out;
                        &.active{
                            border-color:$item_price_color;
                            transition:0.3s ease-in-out;
                        }
                        div{
                            width:34px;
                            height:34px;
                            border:none;
                            &.grey{
                                background:$product_grey_color;
                            }
                            &.blue{
                                background:$product_blue_color;
                            }
                            &.green{
                                background:$product_green_color;
                            }
                            &.white{
                                background:white;
                                border:2px solid $comment_color;
                            }
                        }  
                    }
                }
                .current-old-price{
                    width:80%;
                    h5.price{
                        font-size:30px;
                    }
                }
                .item-action-icons{
                    position:relative;
                    justify-content: flex-start;
                    div{
                        height:50px;
                        width:50px;
                        i{
                            font-size:26px;
                            line-height:50px;
                        }
                        &.cart{
                            @include displayFlex(space-between,row, center);
                            width:auto;
                            padding:0px 30px;
                            border-radius: 25px;
                            font-size:18px;
                            font-weight:bold;
                            i{
                                margin-right:10px;
                            }
                        }
                    }
                }
                .delivery-options{
                    margin:5% 0;
                    div{
                        line-height:26px;
                        font-size:16px;
                        margin-bottom:20px;
                        color:$item_title_color;
                        align-items: flex-start;
                        display: flex;
                        i{
                            margin-right:10px;
                            font-size:26px;
                        }
                    }
                }
            }
        }
    }
}

.outter-full-des-of-singlep{
    width:100%;
    padding:2% 10%;
    text-align:center;
    p{
        font-size:20px;
        color:$item_title_color;
        span.bold{
            @include fontBold;
        }
        .bold{
            @include fontBold;
        }
    }
    img{
        display:block;
        margin:2% auto;
    }
    a{
        margin:0 auto 2%;
        width:45%;
        height:420px;
        display:block;
        .video-item{
            width:100%;
            height:100%;
            position:relative;
            padding:0;
            margin:0 auto;
            &:hover{
                .video-overlay{
                    background-color:rgba(36,73,197, 0);
                    transition:.4s ease-in-out;
                }
            }
            img{
                width:100%;
                height:100%;
                position: absolute;
                top:0;
                left:0;
                margin:0
            }
            .video-overlay{
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                padding:5% 0 0 3%;
                background: rgb(9,17,142);
                background: linear-gradient(180deg, rgba(9,17,142,1) 0%, rgba(0,0,0,0) 35%);
                button.play{
                    position:absolute;
                    left:45%;
                    top:45%;
                    width:65px;
                    height:65px;
                    border:none;
                    background:white;
                    border-radius:50%;
                    z-index:3;
                    // background:no-repeat center url(../images/play.png);
                    .arrow-right{
                        width: 0; 
                        height: 0; 
                        border-top: 15px solid transparent;
                        border-bottom: 15px solid transparent;
                        border-left: 20px solid #09118E;
                        margin:0 auto;
                    }
                    &:focus{
                        outline:none;
                        border:none;
                    }
                }
                h6{
                    color:white;
                    text-align:left;
                    font-size:20px;
                    opacity:1;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

}
.outter-full-comments{
    @include displayFlex(space-between, row, flex-start);
    width:100%;
    padding:2% 10%;
    height:auto;
    .comments{
        width:48%;
        .sort-by{
            @include displayFlex(flex-start, row, flex-start);
            .sort-by-btn{
                font-size:16px;
                margin:0;
                &.active{
                    color:$item_price_color;
                    i:before{
                        font-size:10px;
                        color:$item_price_color;
                        margin-left:10px;
                    }
                }
            }
        }
        .item{
            width:100%;
            margin:0 0 5% 0;
            text-align:start;
            .user-with-rating{
                width:90%;
                @include displayFlex(space-between, row, flex-start);
                .user{
                    @include displayFlex(flex-start, row, flex-start);
                    width:85%;
                    .user-ava{
                        margin-right:20px;
                        img{
                            width:50px;
                            height:50px;
                        }
                    }
                    .user-name{
                        h6{
                            font-size:16px;
                            @include fontBold;
                        }
                        p.green{
                            font-size:14.11px;
                            color:$bg_discount;
                        }
                        p.red{
                            color:$bg_like_heart;
                        }
                    }
                }
                .voted-rate{
                    width:15%;
                }
            }
            p.date{
                color:$comment_color;
                font-size:14.11;
                margin-bottom:5px;
            }
            h6{
                font-size:16px;
                @include fontBold;
                color:black;
                margin:2% 0 1% 0;
            }
            p{
                font-size:16px;
                color:black;
            }
        }
    }
    .leave-comment{
        width:48%;
        text-align:left;
        h6.title{
            font-size:30px;
            line-height:30px;
            color:black;
            @include fontBold;
        }
        .new-rate{
            width:100%;
            height:50px
        }
        form{
            width:100%;
            text-align:left;
            .form-group{
                width:100%;
                label{
                    font-size:18px;
                    color:black;
                    font-weight:bold;
                }
                textarea{
                    height:100px;
                    color:$grey_text2;
                    @include border(1px, $link_hover_color, 20px);
                    resize: none;
                }
            }
            input#submit{
                margin:0 0 0 auto;
                color:white;
                background:$item_price_color;
                border-radius:25px;
                @include fontBold;
                font-size:18px;
                line-height:50px;
                padding:0 100px;
                margin:0 0 3%;
                float:right;
            }
        }
    }
}
.outter-full-characteristics{
    @include displayFlex(flex-start, row, center);
    width:100%;
    padding:2% 10%;
    .accordion-characteristics{
        width:48%;
        text-align:start;
        button{
            width:100%;
            text-align: left;
            @include fontBold;
            font-size:16px;
            padding:10px 0;
            cursor: pointer;
            padding: 18px 0;
            outline: none;
            position:relative;
            background:transparent;
            border-bottom:1px solid $link_hover_color;
            &:after{
                width: 10px;
                height: 10px;
                position:absolute;
                top:50%;
                right:10px;
                content: '\002B';
                transform: rotate(-90deg);
                transition: 0.4s;
            }
            &.active:after{
                transform: rotate(90deg);
                transition: 0.4s;
            }
        }
        .panel{
            margin-top:10px;
            padding:0;
            display: block;
            font-size:18px;
            width:100%;
            margin-bottom:1%;
            p.grey{
                font-size:14.5px;
                color:$grey_text2;
                margin-bottom:5px;
            }
            p.black{
                font-size:16px;
                margin-bottom:10px;
            }
            .colors{
                height:20px;
                width:auto;
                @include displayFlex(flex-start, row, center);
                margin-bottom:20px;
                div{
                    height:16px;
                    width:16px;
                    border-radius:50%;
                    margin-right:10px;
                    &.pink{
                        background:#dda6c5;
                    }
                    &.blue{
                        background: #409be8;
                    }
                    &.nude{
                        background: #d9cba4;
                    }
                    &.dark-grey{
                        background:#636363 ;
                    }
                }
            }
        }
    }
}