.three-small-banners{
    padding:0 10%;
    display:flex;
    @include displayFlex(space-between, row, center);
    width:100%;
    height:380px;
    background:white;
    div{
        width:32%;
        height:300px;
        @include displayFlex(flex-end, column, flex-end);
        padding:2%;
        text-align:end;
        color:white;
        position:relative;
        h5{
            margin-bottom:4%;
            z-index:1;
        }
        p{
            font-size:25px;
            line-height:30px;
            z-index:1;
        }
        button{
            z-index:1;
            font-weight: bold;
        }
        img{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index:0;

        }
        &.first{
            align-items:flex-start;
            text-align:start;
            a {
                z-index: 2;
            }
        }
        &.third{
            button{
                background:#c011ca !important;
                color:#ffd821 !important;
            }
        }
    }
}

@media all and (max-width:1522px){
    .three-small-banners{
       div{
            h5{
                font-size:25px;
            }
            p{
                font-size:20px;
                line-height:25px;
            }
       }
    }
}
@media all and (max-width:1250px){
    .three-small-banners{
        height:1000px;
        padding:0 10%;
        @include displayFlex(space-around, column, flex-start);
        div{
            width:100%;
            h5{
                font-size:30px;
            }
            p{
                font-size:25px;
                line-height:30px;
            }
        }
    }
}
