.three-small-banners{
    padding:0 10%;
    @include displayFlex(space-between, row, center);
    width:100%;
    height:380px;
    background:white;
    div{
        width:32%;
        height:300px;
        @include displayFlex(center, column, flex-end);
        padding:2%;
        text-align:end;
        color:white;
        position:relative;
        h5{
            margin-bottom:4%;
            z-index:1;
        }
        p{
            font-size:25px;
            line-height:30px;
            z-index:1;
        }
        button{
            z-index:1;
            font-weight: bold;
        }
        img{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            z-index:0;
            
        }
        &.first{
            align-items:flex-start;
            text-align:start;
        }
        &.third{
            button{
                background:#c011ca !important;
                color:#ffd821 !important;
            }
        }
    }
}
@media (min-width: 200px) {
    .three-small-banners{
        @include displayFlex(space-around, column, flex-start);
        height:fit-content;
        div{
            height:130px;
            width:100%;
            margin-bottom:5%;
        }
    }
}
@media (min-width: 500px) {
    .three-small-banners{
        div{
            height:200px;
        }
    }
}
@media (min-width: 700px) {
    .three-small-banners{
        div{
            height:270px;
        }
    }
}
@media (min-width: 1000px) {
    .three-small-banners{
        @include displayFlex(space-between, row, center);
        width:100%;
        div{
            height:170px;
            margin-bottom:5%;
            width:32%;
        }
    }
}
@media (min-width: 1200px) {
    .three-small-banners{
        div{
            height:190px;
            margin-bottom:3%;
        }
    }
}
@media (min-width: 1500px) {
    .three-small-banners{
        div{
            height:220px;
            margin-bottom:2%;
        }
    }
}
@media (min-width: 1700px) {
    .three-small-banners{
        div{
            height:250px;
        }
    }
}
@media (min-width: 2000px) {
    .three-small-banners{
        div{
            height:300px;
        }
    }
}
@media (min-width: 2500px) {
    .three-small-banners{
        div{
            height:350px;
        }
    }
}
@media (min-width: 3000px) {
    .three-small-banners{
        div{
            height:385px;
        }
    }
}