.top-brands{
    width:100%;
    min-height:120px;
    padding:1% 10%;
    box-sizing:border-box;
    background:white;
    text-align:left;
    .one-row-brands{
        height:45px;
        display: flex;
        .item{
            width:33%;
            height:45px;
            @include displayFlex(center, row, center);
            a{
                height:100%;
                img{
                    width:auto;
                    height:100%;
                }
            }
        }
    }
    .owl-item{
        display:flex;
        justify-content: center;
    }
    button.owl-prev,
    button.owl-next{
        top:0;
    }
}