.top-brands{
    width:100%;
    padding:1% 10%;
    box-sizing:border-box;
    background:white;
    text-align:left;
    .one-row-brands{
        //display: flex;
        //flex-wrap: wrap;
        .item{
            width:100%;
            height:45px;
            margin: .5em 0;
            @include displayFlex(center, row, center);
            a{
                height:100%;
                img{
                    width:auto;
                    height:100%;
                }
            }
        }
    }
    .owl-item{
        display:flex;
        justify-content: center;
    }
    button.owl-prev,
    button.owl-next{
        top:0;
    }
}
@media all and (max-width: 1200px) {
    .top-brands{
        .one-row-brands {
            .item {
                width:10%;
            }
        }
    }
}
//@media all and (max-width: 1000px) {
//    .top-brands{
//        .one-row-brands {
//            max-height: 65px;
//            overflow-y: hidden;
//            .item {
//                width:20%;
//            }
//        }
//    }
//}
//
//@media all and (max-width: 800px) {
//    .top-brands{
//        .one-row-brands {
//            .item {
//                width:25%;
//            }
//        }
//    }
//}
//@media all and (max-width: 400px) {
//    .top-brands{
//        .one-row-brands {
//            .item {
//                width:33.33%;
//            }
//        }
//    }
//}
