// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import '../../../public/vendor/adminlte/dist/css/fonts.css';
@import '../../../public/vendor/glyphicon/css/glyphicon.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// AdminLTE
@import '../../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
// Bootstrap
// Already imported by AdminLTE
//@import '~bootstrap/scss/bootstrap';

@import "~font-awesome/scss/font-awesome";

// Select2
//@import '../../../public/vendor/select2/dist/css/select2.css';
