.list-of-brands{
    width:100%;
    padding:2% 10%;
    .filter-by-alphabet{
        width:100%;
        @include displayFlex(center, column, flex-start);
        flex-wrap:wrap;
        a{
            @include fontBold;
            font-size:18px;
            color:$title_color;
            transform:uppercase;
            padding:8px 14px;
            &.active{
                background:$item_price_color;
                color:white;
                border-radius:23px;

            }
        }
        .first-row, .second-row{
            width:100%;
        }
    }
    .filtered-brands{
        width:100%;
        .letter-item{
            width:100%;
            color:black;
            margin-bottom:1%;
            h6.title{
                font-size:24px;
                @include fontBold;
            }
            .brands-by-letter{
                @include displayFlex(flex-start, row, center);
                flex-wrap:wrap;
                div{ 
                    width:25%;
                    text-align: start;
                    a{
                    color:black;
                    font-size:20px;
                    line-height:40px;
                    &.all-brands-by-this-letter{
                        color:$item_price_color;
                        @include fontBold;
                    }
                    }
                }
                
            }
        }
    }
}
@media all and (max-width:800px){
    .list-of-brands{
        .filtered-brands{
            .letter-item{
                .brands-by-letter{
                    div{
                        width:33.3%;
                    }
                }
            }
        }
    }
}
@media all and (max-width:600px){
    .list-of-brands{
        .filtered-brands{
            .letter-item{
                margin-bottom:3%;
                h6.title{
                    font-size:22px;
                    @include fontBold;
                }
                .brands-by-letter{
                    div{
                        width:50%;
                    }
                }
            }
        }
    }
}
@media all and (max-width:400px){
    .list-of-brands{
        .filtered-brands{
            .letter-item{
                margin-bottom:5%;
                h6.title{
                    font-size:20px;
                    @include fontBold;
                }
                .brands-by-letter{
                    div{
                        a{
                            font-size:18px;
                        }
                    }
                }
            }
        }
    }
}