#carousel-index{
    width:100%;
    height:400px;
    background:rgba(117, 0, 255, 0);
    .carousel-control-prev-icon {
        background:url("../images/slider_prev.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:25px;
        height:25px;
    }
    .carousel-control-next-icon {
        @extend .carousel-control-prev-icon;
        background:url("../images/slider_next.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carousel-indicators li{
        width:10px;
        height:10px;
        border-radius:50%;
    }
    .carousel-inner{
        height:100%;
        .carousel-item{
            height:100%;
            // .inner-content{
            //     width:70%;
            //     height:100%;
            //     margin:0 auto;
            // }
        }
    }
}
      