#carousel-index{
    width:100%;
    height:400px;
    background:rgba(117, 0, 255, 0);
    .carousel-control-prev-icon {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:25px;
        height:25px;
    }
    .carousel-control-next-icon {
        width:25px;
        height:25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carousel-indicators li{
        width:10px;
        height:10px;
        border-radius:50%;
    }
    .carousel-inner{
        height:100%;
        width:100%;
        .item{
            height:100%;
            width:100%;
            img{
                width:100%;
                height:100%;
            }
        }
    }
}
      