.h4-title.catalog-section{
    padding:0.5% 10%;
}
.all-filtered-catalog-section{
    .types-of-media{
        @include displayFlex(space-between, row, space-between);
        flex-wrap:wrap;
        a{
            width:32%;
            height:300px;
            margin-bottom:2%;
            .item{
                @include displayFlex(center, column, center);
                text-align:center;
                padding:1% 2%;
                width:100%;
                height:100%;
                background:$bg_grey_color;
                transition:.4s ease-in-out;
                &:hover{
                    cursor:pointer;
                    transition:.4s ease-in-out;
                    @include box-shadow(0px, 2px, 7px, -5px, black);
                    background-color:white;
                    transform:scale(1.05);
                }
                .image{
                    height:80%;
                    display:flex;
                    img{
                        height:auto;
                        min-width:100px;
                        margin:auto 0;
                    }
                }  
                h6.title{
                    @include fontBold;
                    font-size:24px;
                    color:$item_title_color;
                    margin:1% 0 0;
                    text-align:center;
                }
            }
        }
    }
    .all-filtered-blogs{
        @include displayFlex(flex-start, column, flex-start);
        a{
            width:100%; 
            margin:1% 0;
            &:hover{
                cursor:pointer;
                transition:.4s ease-in-out;
                @include box-shadow(0px, 2px, 7px, -5px, black);
                .blog-item{
                    .description{
                        transition:.4s ease-in-out;
                        background-color:white;
                    }
                    .image{
                        .image-overlay{
                        transition:.4s ease-in-out;
                            opacity:0;
                        }
                    }
                }
            }
            .blog-item{
                height:175px;
                @include displayFlex(flex-start, row, center);
                width:100%;
                .image{
                    width:40%;
                    height:175px;
                    position: relative;
                    img{
                        width:100%;
                        height:100%;
                    }
                    .image-overlay{
                        width:100%;
                        height:175px;
                        position:absolute;
                        top:0;
                        left:0;
                        opacity:0.7;
                        background-color:#2449c5;
                    }
                }
            }
            .description{
                background-color:$bg_grey_color;
                width:60%;
                height:100%;
                text-align: start;
                padding:0 2%;
                color:$item_title_color;
                @include displayFlex(center, column, flex-start);
                h6.title{
                    font-weight:bold;
                    font-size:22px;
                    margin-bottom:2%;
                }
                p{
                    font-size:18px;
                }
            }
        }
        
    }
}