.shops{
    width:100%;
    height:975px;
    background:$bg_grey_color;
    .outter-shops{
        width:100%;
        height:850px; 
        background:white;
        position:relative;
        .all-shops{
            height:840px;
            width:80%;
            margin:0 auto;
            position:absolute;
            left:10%;
            top:-3%;
        }
    }
}
.shops-fr{
    @include displayFlex(flex-start, row, flex-start);
    .item{
        border:1px solid $item_border_color;
        background:white;
        .shop-name-logo{
            @include displayFlex(flex-start, row, center);
            padding:15px 0 0 15px;
            img{
                margin-right:15px;
                width:30px;
            }
            h6,p{
                margin:0;
            }
            p.sub-title{
                font-size:16px;
            }
        }
        .product-images{
            padding:15px;
            @include displayFlex(space-between, row, center);
            .big-img{
                width:75%;
            }
            .small-img{
                width:25%;
                @include displayFlex(space-between, column, flex-start);
                img{
                    margin:15% 0;
                }
            }
        }
    }
    button.owl-prev,
    button.owl-next{
        top:50%;
    }
}
.shops-2r{
    // height:400px;
    margin-top:1%;
    button.owl-prev,
    button.owl-next{
        top:50%;
    }
    @include displayFlex(flex-start, row, flex-start);
    .first-item{
        // width:33%;
        width:28%;
        // height:400px;
        border:1px solid $item_border_color;
        background:white;
        .shop-name-logo{
            @include displayFlex(flex-start, row, center);
            padding:15px 0 0 15px;
            img{
                margin-right:15px;
                width:30px;
            }
            h6,p{
                margin:0;
            }
            p.sub-title{
                font-size:16px;
            }
        }
        .single-img{
            padding:15px;
            // height:400px;
            img{
                height:auto;
                width:100%;
            }
        }
    }
    .shops-2r-inner{
        // width:67%;
        width:72%;
        height:100%;
        @include displayFlex(flex-start, row, center);
        .palette-items{
            height:100%;
            // width:270px;
            padding:10px 20px 5px;
            @include border(1px, $item_border_color, 0);
            background:white;
            .product-img{
                height:45%;
                position:relative;
                display:flex;
                img{
                    width:auto;
                    height:100%;
                }
                span.sale.small{
                    font-size:14px;
                    padding:2px 15px;
                    bottom:0;
                }
            }
            .description{
                @include displayFlex(flex-start, column, flex-start);
                position:relative;
                height:55%;
                margin-top:5%;
                overflow:hidden;
                p.sub-title{
                    font-size:16px;
                }
                .current-old-price h5.price{
                    font-size:21px;
                    line-height:23px;
                }
                .item-action-icons {
                    bottom:20px;
                    div {
                        width:30px;
                        height:30px;
                        i{
                            font-size:14px;
                            line-height:30px;
                        }
                    }
                }
            }
        }
    } 
}
@media all and (max-width:1250px){
    .shops {
        height: 965px;
        .outter-shops {
            height: 855px;
            .all-shops {
                .shops-2r {
                    .first-item {
                        width: 42%;
                    }
                    .shops-2r-inner {
                        width: 58%;
                    }
                }
            }
        }
    }
}
@media all and (max-width:1140px){
    .shops {
        height: 910px;
        .outter-shops {
            height: 810px;
        }
    }
}
@media all and (max-width:922px){
    .shops {
        height: 850px;
        .outter-shops {
            height: 755px;
        }
    }
}
@media all and (max-width:799px){
    .shops {
        height: 1050px;
        .outter-shops {
            height: 955px;
        }
    }
}
@media all and (max-width:768px){
    .shops {
        height: 1730px;
        .outter-shops {
            height: 1640px;
            top: 0%;
            .all-shops {
                top: -1%;
                .shops-2r {
                    flex-direction: column;
                    height: auto;
                    .first-item {
                        width: 100%;
                        height: auto;
                        .single-img {
                            height: auto;
                        }
                    }
                    .shops-2r-inner {
                        width: 100%;
                        .palette-items {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media all and (max-width:700px){
    .shops {
        height: 1600px;
        .outter-shops {
            height: 1500px;
        }
    }
}
@media all and (max-width:600px){
    .shops {
        height: 1430px;
        .outter-shops {
            height: 1330px;
        }
    }
}
@media all and (max-width:500px){
    .shops {
        height: 1250px;
        .outter-shops {
            height: 1160px;
        }
    }
}
@media all and (max-width:400px){
    .shops {
        height: 1100px;
        .outter-shops {
            height: 1025px;
        }
    }
}
