.shops{
    width:100%;
    height:920px;
    background:$bg_grey_color;
    .outter-shops{
        width:100%;
        height:770px; 
        background:white;
        position:relative;
        .all-shops{
            width:80%;
            margin:0 auto;
            position:absolute;
            left:10%;
            top:-3%;
        }
    }
}
.shops-fr{
    @include displayFlex(flex-start, row, flex-start);
    .item{
        border:1px solid $item_border_color;
        background:white;
        .shop-name-logo{
            @include displayFlex(flex-start, row, center);
            padding:15px 0 0 15px;
            img{
                margin-right:15px;
                width:30px;
            }
            h6,p{
                margin:0;
            }
            p.sub-title{
                font-size:16px;
            }
        }
        .product-images{
            padding:15px;
            @include displayFlex(space-between, row, center);
            .big-img{
                width:75%;
            }
            .small-img{
                width:25%;
                @include displayFlex(space-between, column, flex-start);
                img{
                    margin:15% 0;
                }
            }
        }
    }
    button.owl-prev,
    button.owl-next{
        top:50%;
    }
}
.shops-2r{
    height:420px;
    margin-top:1%;
    @include displayFlex(flex-start, row, flex-start);
    button.owl-prev,
    button.owl-next{
        top:50%;
    }
    .first-item{
        width:33%;
        height:100%;
        border:1px solid $item_border_color;
        background:white;
        .shop-name-logo{
            @include displayFlex(flex-start, row, center);
            padding:15px 0 0 15px;
            img{
                margin-right:15px;
                width:30px;
            }
            h6,p{
                margin:0;
            }
            p.sub-title{
                font-size:16px;
            }
        }
        .single-img{
            padding:15px;
            // height:400px;
            img{
                width:100%;
                margin:0 auto;
                display: -webkit-box;
            }
        }
    }
    .shops-2r-inner{
        width:67%;
        height:100%;
        @include displayFlex(flex-start, row, center);
        h6{
            white-space:pre-wrap !important;
        }
        .palette-items{
            height:100%;
            padding:10px 20px 5px;
            @include border(1px, $item_border_color, 0);
            background:white;
            .product-img{
                height:45%;
                position:relative;
                display:flex;
                span.sale.small{
                    font-size:14px;
                    padding:2px 15px;
                    bottom:0;
                }
            }
            .description{
                @include displayFlex(flex-start, column, flex-start);
                position:relative;
                height:55%;
                margin-top:5%;
                overflow:hidden;
                p.sub-title{
                    font-size:16px;
                }
                .current-old-price h5.price{
                    font-size:21px;
                    line-height:23px;
                }
                .item-action-icons {
                    bottom:20px;
                    position:absolute;
                    div {
                        width:30px;
                        height:30px;
                        i{
                            font-size:14px;
                            line-height:30px;
                        }
                    }
                }
            }
        }
    } 
}
@media all and (max-width:3000px){
    .shops {
        height: 1265px;
        .outter-shops {
            height: 1120px;
        }
    }
    .shops-2r{
        height:500px;
        .first-item{
            .single-img{
                img{
                    width:auto;
                    height:100%;
                }
            }
        }
    }
}
@media all and (max-width:2600px){
    .shops {
        .outter-shops {
            height: 1130px;
        }
    }
}
@media all and (max-width:2400px){
    .shops {
        height:1170px;
        .outter-shops {
            height: 1045px;
        }
    }
}
@media all and (max-width:2200px){
    .shops {
        height: 1100px;
        .outter-shops {
            height: 975px;
        }
    }
    .shops-2r{
        height:500px;
    }
}
@media all and (max-width:2400px){
    .shops {
        height:1080px;
    }
}
@media all and (max-width:2000px){
    .shops {
        height: 1125px;
        .outter-shops {
            height: 1010px;
        }
    }
    .shops-2r{
        height:540px;
        .first-item{
            .single-img{
                img{
                    width: 100%;;
                    height:auto;
                }
            }
        }
    }
}
@media all and (max-width:1800px){
    .shops {
        height: 960px;
        .outter-shops {
            height: 873px;
        }
    }
    .shops-2r{
        height:470px;
    }
}
@media all and (max-width:1600px){
    .shops {
        height:890px;
        .outter-shops {
            height: 800px;
        }
    }
    .shops-2r{
        height:430px;
        .shops-2r-inner{
            .palette-items{
                .description{
                    p.sub-title{
                        margin-bottom: 5px;
                    }
                }
            }
        }
    } 
}

@media all and (max-width:1400px){
    .shops {
        height:870px;
        .outter-shops {
            height: 778px;
        }
    }
    .shops-2r{
        height:440px;
    } 
}
@media all and (max-width:1344px){
    .shops {
        height:780px;
        .outter-shops {
            height: 695px;
        }
    }
    .shops-2r{
        height:370px;
    } 
}
@media all and (max-width:1300px){
    .shops {
        height:880px;
        .outter-shops {
            height: 800px;
        }
    }
    .shops-2r{
        height:420px;
    } 
}
@media all and (max-width:1200px){
    .shops {
        height:795px;
        .outter-shops {
            height: 710px;
        }
    }
    .shops-2r{
        height:360px;
        .shops-2r-inner{
            h6{
                white-space:nowrap !important;
            }
        }
    } 
}
@media all and (max-width:1100px){
    .shops {
        height:780px;
        .outter-shops {
            height: 710px;
        }
    }
    .shops-2r{
        height:360px;
    } 
}
@media all and (max-width:1000px){
    .shops {
        height:740px;
        h6.title{
            font-size:17px;
        }
        .outter-shops {
            height: 660px;
        }
    }
}
@media all and (max-width:900px){
    .shops{
        height:700px;
        .shops-2r-inner{
            .palette-items{
                .description{
                    .current-old-price{
                        h5.price{
                            font-size:19px;
                            line-height:20px;
                            span{
                                font-size:15px;
                            }
                        }
                    }
                }
            }
        }
        .outter-shops {
            height: 625px;
        }
        .rating{
            font-size:12px !important;
        }
        .comment{
            font-size:15px !important;
        }
        h6{
            font-size:15px !important;
        }
        p.sub-title{
            font-size:14px !important;
        }
    }
}
@media all and (max-width:860px){
    .shops{
        height:665px;
        .outter-shops{
            height:600px;
        }
    }
    .shops-2r{
        .first-item{
            width:50%;
        }
        .shops-2r-inner{
            width:50%;
        }
    }
}
@media all and (max-width:800px){
    .shops {
        .rating{
            width:67%;
        }
        .comment{
            font-size:15px;
        }
        h6{
            font-size:15px !important;
        }
        p.sub-title{
            font-size:14px !important;
        }
    }
    
}
@media all and (max-width:700px){
    .shops{
        height:830px;
        .outter-shops{
            height:770px;
        }
    } 
}
@media all and (max-width:600px){
    .shops{
        height:1185px;
        .h4-title{
            padding:5% 5% 8% !important;
        }
        .outter-shops{
            height:1075px;
        }
    } 
    .shops-2r {
        height:450px;                     
        flex-direction: column;
        .first-item{
            width:100%;
        }
        .shops-2r-inner{
            width:100%;
        }
    }
}

@media all and (max-width:536px){
    .shops{
        height:1090px;
        .outter-shops{
            height:1030px;
        }
        p.sub-title{
            margin:0;
        }
    } 
    .shops-2r{
        height:705px;
    }
}
@media all and (max-width:500px){
    .shops{
        height:1050px;
        .outter-shops{
            height:1015px;
        }
    } 
}
@media all and (max-width:440px){
    .shops{
        height:1010px;
        .outter-shops{
            height:950px;
        }
    } 
}
@media all and (max-width:330px){
    .shops{
        height:870px;
        .outter-shops{
            height:860px;
        }
    } 
    .shops-2r{
        height:630px;
    }
}
