.main-header{
    @include displayFlex(space-between, row, center);
    background:#ffffff;
    padding:0 10%;
    height:90px;
    .logo{
        width:16.7%;
        height:60px;
        img{
            width:100%;
            height:100%;
        }
    }
    div.search-bar{
        width:45%;
        height:45px;
        padding-right:2px;
        @include displayFlex(flex-start, row, center);
        @include border(1px, $link_hover_color, 23px);
        &:focus{
            border-color:red !important;
        }
        .tag{
            height: 25px;
            padding: 5px 6px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background: #eee;
            display: flex;
            align-items: center;
            color: #333;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
            cursor: default;
            i{
                font-size: 16px;
                color: #666;
                margin-left: 5px;
            } 
        }
        input{
            width:85%;
        }
        button.dropdown-toggle{
            color:$title_color;
            margin-right:10px;
            padding: .375rem 1.75rem;
            &::after{
                margin-left: 0.5em;
                vertical-align: 0.2em;
            }
        }
        .dropdown-menu{
            top:2px !important;
            border:none;
            border-radius:0;
            padding:0;
            color:$item_price_color;
            @include box-shadow(0px, 2px, 7px, -5px, rgba(0,0,0,1));
            a.dropdown-item{
                &:hover{
                    color:#000 !important;
                    background-color:$bg_grey_color2 !important;
                }
            }
        }
        button.search{
            width:50px;
            height:40px;
            padding:0;
            background:$item_price_color;
            @include border(1px, $item_price_color,23px);
            i.fa-search::before{
                color:#ffffff;
                font-size:20px;
                line-height:28px;
            }
        }
    }
    .from-statistics-to-account{
        width:36%;
        height:45px;
        @include displayFlex(space-between, row, center);
        .dropdown{
            .dropdown-menu{
                width:300px;
                height:400px;
                border:none;
                border-radius:0;
                padding:0;
                margin:0;
                color:$item_price_color;
                @include box-shadow(0px, 2px, 7px, -5px, rgba(0,0,0,1));
                .selected-items{
                    height:85%;
                    overflow:hidden;
                }
                .dropdown-item{
                    position:relative;
                    padding:15px 30px 0 13px;
                    margin:0;
                    background:white;
                    @include displayFlex(flex-start, row, center);
                    &:hover{
                        color:#000 !important;
                        background-color:$bg_dropdown_hover !important;
                        h5.title{
                            color:$item_price_color;
                        }
                    }
                    &.no-hover:hover{
                        background:white !important;
                    }
                    .product-img{
                        width:25%; 
                        height:65px;
                        margin-right:10px;
                        img{
                            width:auto;
                            height:100%;
                        }
                    }
                    .description{
                        width:70%;
                        h5.title{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            text-align: start;
                            font-size:20px;
                            color:#000000;
                        }
                        p.price{
                            font-size:14px;
                            color:$title_color;
                            margin-bottom:10px;
                        }
                        &:after{
                            content:'';
                            width: 95%;
                            margin-left:auto;
                            display:block;
                            border-bottom: 1px solid #DFDFDF;
                        }
                    }
                    .delete-btn {
                        width: 20px;
                        height: 20px;
                        border-radius:23px;
                        display: flex;
                        justify-content: center;
                        cursor:pointer;
                        position:absolute;
                        top:40%;
                        right:10px;
                        background:#a5b1c2;
                        padding:0;
                        margin:0;
                        transition: .4s;
                        &:hover {
                            background:$bg_like_heart;
                            transition: .4s;
                        }
                        i{
                            font-size:6px;
                            line-height:18px;
                            padding:0;
                            margin:0;
                        }
                      }
                }
            }
        }
        a{
            color:$item_title_color;
            margin:0 5px;
            display: flex;
            align-items: center;
            i{
            font-size:22px;
            line-height: 36px;
            margin-right:5px;
            }
            &.wish-list{
                i{
                    position: relative;
                    span{
                        width: 18px;
                        height: 18px;
                        font-size: 10px;
                        color: #fff;
                        line-height: 18px;
                        position: absolute;
                        border-radius: 12px;
                        display: block;
                        transform: scale(0);
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        font-family:'CERAPRO-BOLD';
                        background: $bg_like_heart;
                        &.counter{
                            top:-23px;
                            right:-21px;
                            transition: .2s linear;
                            transform: scale(1);
                        }
                    }
                }
            }
            &.account{
                i:before{
                    font-weight:bold;
                }
            }
        }
        a.dropdown-toggle{
            color:$item_title_color;
            margin:0 5px;
            padding:0 5px;
            &:last-child{
                margin:0;
            }
            &:after{
                border:none;
            }
            &:focus{
                background: $bg_grey_color2;
            }
            i{
                font-size:22px;
                margin-right:5px;
            }
            &.cart{
                i{
                    position: relative;
                    span{
                        width: 18px;
                        height: 18px;
                        font-size: 10px;
                        color: #fff;
                        line-height: 18px;
                        position: absolute;
                        border-radius: 12px;
                        display: block;
                        transform: scale(0);
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        font-family:'CERAPRO-BOLD';
                        background: $bg_like_heart;
                        &.counter{
                            top:-23px;
                            right:-21px;
                            transition: .2s linear;
                            transform: scale(1);
                        }
                    }
                }
            }
            &.comparison{
                i{
                    position: relative;
                    span{
                        width: 18px;
                        height: 18px;
                        font-size: 10px;
                        color: #fff;
                        line-height: 18px;
                        position: absolute;
                        border-radius: 12px;
                        display: block;
                        transform: scale(0);
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        font-family:'CERAPRO-BOLD';
                        background: $bg_like_heart;
                        &.counter{
                            top:-23px;
                            right:-21px;
                            transition: .2s linear;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}
.bottom-btn{
    @include displayFlex(center, row, center);
    position: absolute;
    bottom:10px;
    width:100%;
    .switch-to-compare, .switch-to-cart{
        background:$item_price_color;
        color:white;
        border:none;
        padding:7px 23px;
        border-radius:23px;
        font-size:16px;
        transition: .2s ease-in-out;
        &:hover{
            transition: .2s ease-in-out;
            box-shadow: 0px 2px 5px 1px rgba(0,66,255,1);
        }
        &:focus{
            background:#11da53;
            outline:none;
            box-shadow: 0px 2px 5px 1px $bg_discount;
        }
    }
}
.show-drop { 
    display:block; 
} 
.display-none{
    display: none;
}
.cd-cart__product--deleted { // this class is added to an item when it is removed form the cart
    position: absolute;
    left: 0;
    width: 100%; 
    opacity: 0;
    animation: cd-item-slide-out .3s forwards;
  }
  
  @keyframes cd-item-slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(80px);
      opacity: 0;
    }
  }
.navbar-1560{
    position:sticky;
    top:0;
    transition:top .5s ease-in-out;
    z-index:9;
    width:100%;
    &.hidden{
        transition:top .5s ease-in-out;
        transform: translateY(-100%);
    }
    &.shadow{
        box-shadow: 0px 2px 7px -5px black;
    }
}
@media all and (max-width:1522px){
    .main-header{
        padding:0 8%;
        div.search-bar{
            button.search{
                width:55px;
                height:35px;
            }
        }
    }
}
@media all and (max-width:1400px){
    .main-header{
        padding:0 5%;
        .from-statistics-to-account{
            a{
                font-size:15px;
                line-height:36px;
            }
        }
    }
}
@media all and (max-width:1245px){
    .main-header{
        padding:0 5%;
        form.search-bar {
            width:55%;
        }
        .from-statistics-to-account{
            width:27%;
            a{
                font-size:0;
                i{
                    font-size:20px;
                    line-height:36px;
                    padding:.375rem .75rem
                }
            }
        }
    }
}
@media all and (max-width:1145px){
    .main-header{
        div.search-bar{
            button.dropdown-toggle{
                padding:.375rem 0.75rem;
            }
            button.search{
                width:60px;
            }
        }
    }
}

@media all and (max-width:920px){
    .main-header{
        display: none;
    }
}














