nav#main_navbar{
  padding:0 10%;
  @include displayFlex(space-between, row, center);
  height:50px;
  background: white;
  
  .dropdown:after{
    content:'';
    width:84%;
    display: inherit;
    margin: auto auto auto 16%;
    border-top: 1px solid #DFDFDF;
  }
  .dropdown:last-child::after{
    border:none;
  }
  .dropdown-item{
    color:$menu_dropdown_color;
    padding:14px 55px 13px 10px;
    font-size:18px;
    position:relative;
  }
  .dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
    min-height:100%;
    min-width:330px;
    border-width: 0;
  }
  .dropdown-menu .dropdown .dropdown-menu a {
    padding-left:15%;
  }
  .collapse{
    margin-right:1%;
    display: inline-block;
    .navbar-nav{
      .dropdown-main{
        position:relative !important;
        a.main-link{
          background:$item_price_color;
          color:white;
          font-size:18px;
          height:49px;
          display:inline-flex;
          align-items:center;
          padding:10px 20px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          @include fontBold;
          &::after{
            border:none;
          }
          .center-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right:6%;
            i{
              font-size:25px;
              transition:0.6s ease-in-out;
            }
          }
          .round {
            position: relative;
            width: 30px;
            height: 30px;
          }
          span {
            z-index: 9;
            height: 2px;
            margin:0;
            width: 15px;
            background: #fff;
            transition: 0.4s ease;
          }
          span:first-child {
            display: block;
            position: absolute;
            transform: rotate(180deg);
            left: 5%;
            bottom: 16%;
          }
          span:nth-child(2) {
            display: block;
            position: absolute;
            transform: rotate(-180deg);
            left: 38%;
            bottom: 16%;
          }
          span:nth-child(3) {
            display: block;
            position: absolute;
            transform: rotate(180deg);
            left: 5%;
            bottom: 39%;
          }
          span:nth-child(4) {
            display: block;
            position: absolute;
            transform: rotate(-180deg);
            left: 38%;
            bottom: 39%;
          }
          span:nth-child(5) {
            display: block;
            position: absolute;
            transform: rotate(180deg);
            left: 5%;
            bottom: 60%;
          }
          span:nth-child(6) {
            display: block;
            position: absolute;
            transform: rotate(-180deg);
            left: 38%;
            bottom: 60%;
          }
          &:hover {
            color:white;
            @include box-shadow(0px, 2px, 7px, -5px, rgba(0,0,0,1));
            .round {
              span:nth-child(1){
              transform: rotate(-135deg);
              }
              span:nth-child(2){
              transform: rotate(135deg);
              }
              span:nth-child(3){
                transform: rotate(45deg);
              }
              span:nth-child(4){
                transform: rotate(-45deg);
              }
              span:nth-child(5){
                transform: rotate(45deg);
              }
              span:nth-child(6){
                transform: rotate(-45deg);
              }
            }
            .center-icon{
              i{
                &:before{
                  transition:0.6s ease-in-out;
                  content: "\e906";
                  font-family: "mybazar";
                }
              }
            }
          }
        }
        .dropdown-menu {
          position: absolute;
          margin-top: 0;
          padding:0;
          border-radius: 0;
          border:none;
          animation: fadeIn ease 0.4s;
          color:$menu_dropdown_color;
          @include box-shadow(0px, 2px, 7px, -5px, rgba(0,0,0,1));
          // li.nav-item{
          //   position:relative;
          // }
          .dropdown-item img{
            width:20px;
            height:20px;
            margin-right:5%;
            display:inline-block;
            border:none;
          }
          .dropdown-toggle::after {
            border:none;
            // content:url('../images/gotoresults_searchresulticon.svg');
            // width: 12px;
            // height:12px;
            // position:absolute;
            // right:4%;
          }
        }
      }
      .dropdown, .dropleft, .dropright, .dropup {
        position: static;
      }
      li.full-image-banner{
        position:absolute;
        top:0;
        left:100%;
        width:320px;
        height:100%;
        img{
          width:100%;
          height:100%;
        }
      }
      li.full-image-banner2{
        position:absolute;
        top:0;
        left:196%;
        width:220px;
        height:100%;
        img{
          width:100%;
          height:100%;
        }
      }
      .dropdown{
        &:hover{
          .center-icon{
            i{
              &:before{
                transition:0.6s ease-in-out;
                content: "\e906";
                font-family: "mybazar";
              }
            }
          }
          .round{
            span:nth-child(1) {
              transform: rotate(-135deg); 
            }
            span:nth-child(2) {
              transform: rotate(135deg); 
            }
            span:nth-child(3) {
              transform: rotate(45deg); 
            }
            span:nth-child(4) {
              transform: rotate(-45deg); 
            }
            span:nth-child(5) {
              transform: rotate(45deg); 
            }
            span:nth-child(6) {
              transform: rotate(-45deg); 
            }
          }
        }
      }
    }
  }
}
.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
  background:$item_price_color;
  color: white !important;
}
.dropdown-menu > li.show > a{
  color: white !important;
}
.dropdown-menu > li a:hover,
.dropdown-menu > li.show:hover,
.dropdown-menu > li.show > a:hover{
  img.menu-discount-icon{
    content:url('../images/discount_hover.svg');
  }
  img.menu-tv-icon{
    content:url('../images/tv_hover.svg');
  }
  img.menu-smartphone-icon{
    content:url('../images/smartphone_hover.svg');
  }
  img.menu-wear-icon{
    content:url('../images/wear_hover.svg');
  }
  img.menu-food-icon{
    content:url('../images/food_hover.svg');
  }
  img.menu-laptop-icon{
    content:url('../images/laptop_hover.svg');
  }
  img.menu-wash_machine-icon{
    content:url('../images/wash_machine_hover.svg');
  }
  img.menu-cookroom-icon{
    content:url('../images/cookroom_hover.svg');
  }
  img.menu-health-icon{
    content:url('../images/health_hover.svg');
  }
  img.menu-photo-icon{
    content:url('../images/photo_hover.svg');
  }
  img.menu-games-icon{
    content:url('../images/games_hover.svg');
  }
  img.menu-auto-icon{
    content:url('../images/auto_hover.svg');
  }
}
img.menu-discount-icon:hover{
  content:url('../images/discount_hover.svg');
}
img.menu-tv-icon:hover{
  content:url('../images/tv_hover.svg');
}
img.menu-smartphone-icon:hover{
  content:url('../images/smartphone_hover.svg');
}
img.menu-wear-icon:hover{
  content:url('../images/wear_hover.svg');
}
img.menu-food-icon:hover{
  content:url('../images/food_hover.svg');
}
img.menu-laptop-icon:hover{
  content:url('../images/laptop_hover.svg');
}
img.menu-wash_machine-icon:hover{
  content:url('../images/wash_machine_hover.svg');
}
img.menu-cookroom-icon:hover{
  content:url('../images/cookroom_hover.svg');
}
img.menu-health-icon:hover{
  content:url('../images/health_hover.svg');
}
img.menu-photo-icon:hover{
  content:url('../images/photo_hover.svg');
}
img.menu-games-icon:hover{
  content:url('../images/games_hover.svg');
}
img.menu-auto-icon:hover{
  content:url('../images/auto_hover.svg');
}
.dropdown-menu .dropdown:hover .collapse a.main-link{
  @include box-shadow(0px, 2px, 7px, -5px, rgba(0,0,0,1));
}
@media all and (max-width:1522px){
  nav#main_navbar{
    padding:0 8%;
  }
}
@media all and (max-width:1400px){
  nav#main_navbar{
    padding:0 5%;
  }
}
@media all and (max-width:920px){
  nav#main_navbar{
    display: none;
  }
}
@media (min-width: 768px) {
  .dropdown-menu .dropdown .dropdown-menu {
      margin:0;
      border-width: 1px;
  }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
}
