.outter-pay-checkout-cart{
    width:100%;
    background:white;
    padding:2% 10%;
    @include displayFlex(flex-start, row, center);
    .ur-cart{
        width:20%;
        text-align: left;
        button.back-to-address{
            width:100%;
            background:white;
            @include border(2px, $item_price_color, 25px);
            color:black;
            font-size:18px;
            line-height:50px;
            padding:0;
            @include fontBold;
            margin-bottom:10%;
        }
        button.make-order{
            color:white;
            background:$item_price_color;
            border-radius:25px;
            width:100%;
            @include fontBold;
            font-size:18px;
            line-height:50px;
            padding:0;
            margin:5% 0 0;
        }
        h6{
            @include fontBold;
            font-size:30px;
        }
        p{
            font-size:14px;
            color:$grey_text;
            margin:0;
            line-height:30px;
            span{
                font-size:16px;
                color:black;
                margin-left:5px;
                &.sale{
                    color:$bg_discount;
                }
            }
            &.overall{
                margin-top:5%;
            }
            &.total-checkout{
                color:$item_price_color;
                font-size:26px;
                @include fontBold;
                span{
                    font-size:26px;
                    color:$item_price_color;
                    @include fontRegular;
                }
            }
        }
    }
    .inner-pay-checkout-cart{
        width:80%;
        h6{
            @include fontBold;
            font-size:30px;
        }
    }
}