.slide-banner{
    width:80%;
    height:200px;
    margin:1%  auto 2%;
    background:url('../images/catalog-slider-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media all and (max-width:1522px){
    .slide-banner{
        width:84%;
    }
}
@media all and (max-width:1400px){
    .slide-banner{
        width:90%;
    }
}