.slide-banner-catalog,
.slide-banner-brandv,
.slide-banner-shopv,
.slide-banner-delivery,
.slide-banner-guaranty,
.slide-banner-payment{
    width:80%;
    height:200px;
    margin:1%  auto 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-banner-catalog{
    background:url('../images/catalog-slider-banner.png');
    margin:1%  auto 1%;
}
.slide-banner-brand-view{
    .h4-title{
        padding:0.5% 10%;
    }
    .slide-banner-brandv{
        background:url('../images/brand-view-slide-banner.png');
    }
}
.slide-banner-shopv{
    background:url('../images/shop-view-slide-banner.png');
}
.slide-banner-delivery{
    background:url('../images/delivery-slide-banner.png');
}
.slide-banner-guaranty{
    background:url('../images/guaranty-slide-banner.png');
}
.slide-banner-payment{
    background:url('../images/payment-slide-banner.png');
}

@media all and (max-width:1522px){
    .slide-banner-catalog,
    .slide-banner-brandv,
    .slide-banner-shopv,
    .slide-banner-delivery,
    .slide-banner-guaranty,
    .slide-banner-payment{
        width:84%;
    }
}
@media all and (max-width:1400px){
    .slide-banner,
    .slide-banner-brandv,
    .slide-banner-shopv,
    .slide-banner-delivery,
    .slide-banner-guaranty,
    .slide-banner-payment{
        width:90%;
    }
}