.top-header{
    @include displayFlex(space-between, row, center);
    background:$bg_grey_color2;
    padding:0 10%;
    height:45px;
    a.tel{
        margin-left:15px;
    }
    a.email{
        margin-left:10px;
        &::before{
            content:"\2022";
            margin:10px;
            color:$item_price_color;
        }
    }
    .hot-news{
        width:35%;
        animation: bounce 2s infinite;
        -webkit-animation: bounce 2s infinite;
        -moz-animation: bounce 2s infinite;
        -o-animation: bounce 2s infinite;
        a{
            color:$item_price_color;
        }
    }
    .lang{
        width:20%;
        @include displayFlex(space-between, row, center);
    }
    .lang-medium{
        display:none;
    }
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-17px);}
	60% {-webkit-transform: translateY(-13px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-17px);}
	60% {-moz-transform: translateY(-13px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-17px);}
	60% {-o-transform: translateY(-13px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-17px);}
	60% {transform: translateY(-13px);}
}

@media all and (max-width:1522px){
    .top-header{
        padding:0 8%;
    }
}
@media all and (max-width:1400px){
    .top-header{
        padding:0 5%;
        a.email{
            display:none;
        }
        .lang-medium{
            width:15%;
            @include displayFlex(space-between, row, center);
        }
        .lang{
            display:none;
        }
    }
}
@media all and (max-width:920px){
    // design of 414px
    .top-header{
        display:none;
    }
}