.outter-list-of-videos{
    // form.big-filter{

    // }
    .wrapper-filtered-videos{
        nav{
            // button.navbar-toggler{
            //     i{

            //     }
            // }
            div#search-bar.search-bar{
                width:100%;
                height:45px;
                padding-right:2px;
                @include displayFlex(flex-start, row, center);
                @include border(1px, $link_hover_color, 23px);
                input{
                    width:100%;
                }
                button.search{
                    width:50px;
                    height:40px;
                    padding:0;
                    background:$item_price_color;
                    @include border(1px, $item_price_color,23px);
                    i.fa-search::before{
                        color:#ffffff;
                        font-size:20px;
                        line-height:28px;
                    }
                }
            }
        //     .collapse.navbarNavDropdown{
        //         form.small-filter{

        //         }
        //     }
        // }
        // .all-filtered-videos{
        //     .video-item{
        //         iframe{

        //         }
        //     }
        // }
        // nav.products-pagination{

        // }
        }
    }
}