.outter-list-of-videos{
    min-height:500px;
    width:80%;
    padding:1% 0;
    margin:0 auto;
    @include displayFlex(space-between, row, flex-start);
    form.big-filter{
        width:18%;
        margin-top:50px;
        text-align: start;
        .filter-item{
            width:100%;
            &:nth-child(2){
                margin-bottom:15px;
            }
            .select-all-div{
                width:100%;
                position:relative;
                text-align: start;
                border-bottom:1px solid $link_hover_color !important;
                padding:15px 15px 15px 25px;
                &:before{
                    width: 10px;
                    height: 10px;
                    top: 25px;
                    right: 0;
                    position: absolute;
                    content: url(../images/gotoresults_searchresulticon.svg);
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
                .select-all-label{
                    font-weight:bold;
                    font-size:18px;
                }
            }
           
            label.filter-title{
                width:100%;
                border-bottom:1px solid $link_hover_color;
                padding:15px 15px 15px 0;
                font-weight:bold;
                font-size:18px;
                text-align: start;
                position: relative;
                &:before{
                    width: 10px;
                    height: 10px;
                    top: 25px;
                    right: 0;
                    position: absolute;
                    content: url(../images/gotoresults_searchresulticon.svg);
                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
            div{
                margin:15px 0;
                outline: none;
                border:none !important;
                &:focus{
                    border:none;
                }
            }
            a.show-more{
                padding-left:30px;
                color:$title_color;
                font-size:18px;
                text-decoration: underline;
            }
            .outter-range-slider{
                display: flex;
                flex-flow: column;
                justify-content: center;
                margin:0 !important;
                span{
                    font-size:18px;
                    line-height: 40px;
                }
                .form-group{
                    @include displayFlex(space-between,row, center);
                    input{
                        width:45%;
                        color:$title_color;
                        border-radius:12px;
                    }
                }
            }
        }
    }
    .wrapper-filtered-videos{
        width:80%;
        min-height:1000px;
        @include displayFlex(flex-start, column, flex-start);
        nav.sort-types{
            justify-content: flex-end;
            width:100%;
            margin-bottom:2%;
            padding:0;
            button.navbar-toggler{
                padding:0;
                display: none;
                i{
                    line-height:32px;
                    font-size:20px;
                }
            }
            form.small-filter{
                display: none;
                .card{
                    border-bottom:1px solid $link_hover_color;
                    .card-header{
                        button{
                            padding:15px 15px 15px 0;
                            font-weight:bold;
                            font-size:18px;
                            text-align: start;
                        }
                    }
                    #collapseTwo{
                        padding-bottom:10px;
                    }
                    .card-body{
                        padding:0;
                        text-align: start;
                        div{
                            margin:15px 0;
                            outline: none;
                            border:none !important;
                            &:focus{
                                border:none;
                            }
                        }
                        .outter-range-slider{
                            display: flex;
                            flex-flow: column;
                            justify-content: center;
                            margin:0 !important;
                            span{
                                font-size:18px;
                                line-height: 40px;
                            }
                            .form-group{
                                @include displayFlex(space-between,row, center);
                                input{
                                    width:45%;
                                    color:$title_color;
                                    border-radius:12px;
                                }
                            }
                        }
                        a.show-more{
                            padding-left:30px;
                            color:$title_color;
                            font-size:18px;
                            text-decoration: underline;
                        }
                    }
                }
            }
            div#search-bar.search-bar{
                width:100%;
                height:45px;
                padding-right:2px;
                @include displayFlex(flex-start, row, center);
                @include border(1px, $link_hover_color, 23px);
                input{
                    width:100%;
                }
                button.search{
                    width:50px;
                    height:40px;
                    padding:0;
                    background:$item_price_color;
                    @include border(1px, $item_price_color,23px);
                    i.fa-search::before{
                        color:#ffffff;
                        font-size:20px;
                        line-height:28px;
                    }
                }
            }
        }
        .all-filtered-videos{
            @include displayFlex(space-between, row, flex-start);
            flex-wrap:wrap;
            a{
                width:32%;
                height:220px;
                margin-bottom:2%;
                .video-item{
                    position:relative;
                    width:100%;
                    height:100%;
                    padding:0;
                    &:hover{
                        .video-overlay{
                            background-color:rgba(9,17,142, 0);
                            transition:.4s ease-in-out;
                        }
                    }
                    img{
                        width:100%;
                        height:100%;
                        position: absolute;
                        top:0;
                        left:0;
                    }
                    .video-overlay{
                        width:100%;
                        height:100%;
                        position:absolute;
                        top:0;
                        left:0;
                        padding:5% 0 0 3%;
                        background: rgb(9,17,142);
                        background: linear-gradient(180deg, rgba(9,17,142,1) 0%, rgba(0,0,0,0) 35%);
                        background-color:rgba(9,17,142, 0.7);
                        button.play{
                            position:absolute;
                            left:45%;
                            top:45%;
                            width:65px;
                            height:65px;
                            border:none;
                            background:white;
                            border-radius:50%;
                            z-index:3;
                            .arrow-right{
                                width: 0; 
                                height: 0; 
                                border-top: 15px solid transparent;
                                border-bottom: 15px solid transparent;
                                border-left: 20px solid #09118E;
                                margin:0 auto;
                            }
                            &:focus{
                                outline:none;
                                border:none;
                            }
                        }
                        h6{
                            color:white;
                            text-align:left;
                            font-size:14px;
                            opacity:1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}


